<h1>Add a new Schedule</h1>

<%= form_for @schedule do |t| %>
  <ol class='schedule'>
    <li>
      <%= t.label :schedule_date %>
      <%= t.date_field :schedule_date, value: Date.today %>
    </li>
    <li>
      <%= t.submit %>
    </li>
  </ol>
<% end %>
