<div class='schedule'>
  <div class='date'>
    <%= @schedule.schedule_date %>
  </div>

  <div class='activities'>
    <ol class='schedule'>
      <%= render @schedule.activities %>
    </ol>
  </div>
</div>
