html, body {
  background-color: #58595B;
  color: #C8C8C8;
  font-family: 'Source Sans Pro', sans-serif;
  overflow: hidden;
}

.content h1, .content h2, .content h3 {
  font-family: 'Droid Serif', serif;
  font-weight: bold;
  color: #19ABB5;
  text-align: center;
  width: 100%;
}

.content h1 {
  font-size: 4em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

h1 .date:hover {
  cursor: pointer;
}

footer {
  text-align: left;
}

footer img {
  transform: scale(0.50, 0.50);
  -ms-transform: scale(0.50, 0.50);
  -webkit-transform: scale(0.50, 0.50);
}

.content {
  width: 100%;
}

.schedule ol {
  list-style: none;
}

.schedule ol .item {
  font-size: 3em;
}

.schedule ol .item .left {
  text-align: center;
}

.schedule ol .item .start_time {
  text-align: right;
}

.schedule ol .item .end_time {
  text-align: left;
}

.schedule ol .item .name {
  text-align: left;
}

.row {
  max-width: 80rem;
}

label {
  color: white;
}

.schedule ol .item .edit {
  display: none;
}

div.activity:hover div.edit, div.header:hover div.edit  {
  display: inline;
}

[contenteditable]:hover:not(:focus) {
  outline: 1px dotted #ccc;
}

form ol {
  list-style: none;
}

form input[type=button], form input[type=submit] {
  color: black;
}

.hidden { display: none; }

.changed { border: 2px dashed yellow; }
