* {
  /*border: 1px solid black;*/
  font-family: 'Droid Serif', serif;
}

html, body {
  background-color: #58595B;
  color: #C8C8C8;
  overflow: hidden;
}

.content h1, .content h2, .content h3 {
  font-weight: bold;
  color: #19ABB5;
  text-align: center;
  width: 100%;
}

.content h1 {
  font-size: 3.3em;
  margin-top: 0;
  margin-bottom: 0.5em;
  line-height: 2em;
}

h1 .date:hover {
  cursor: pointer;
}

.content {
  width: 90%;
}

.schedule ol {
  list-style: none;
}

.schedule ol .item {
  font-size: 3em;
}

.schedule ol .item .left {
  text-align: center;
}

.schedule ol .item .start_time {
  text-align: right;
}

.schedule ol .item .end_time {
  text-align: left;
}

.schedule ol .spacer {
  text-align: center;
}

.schedule ol .item .name {
  text-align: left;
}

.schedule ol .item .edit {
  white-space: nowrap;
}

.schedule .header .edit i {
  font-size: 0.8em;
  padding: 0;
  margin: 0;
  white-space: nowrap;
}

.schedule .header .edit i:hover {
  cursor: pointer;
}

.row {
  max-width: 80rem;
  /*max-width: 95%;*/
}

label {
  color: white;
}

.schedule ol .item .edit {
  display: none;
}

div.activity:hover div.edit, div.header:hover div.edit  {
  display: inline;
}

[contenteditable]:hover:not(:focus) {
  outline: 1px dotted #ccc;
}

form ol {
  list-style: none;
}

form input[type=button], form input[type=submit] {
  color: black;
}

.hidden { display: none; }

.changed { border: 2px dashed yellow; }

.date span { white-space: nowrap; }

#activities div.activity { border-bottom: 1px dashed #19ABB5;}
#activities div.activity:last-child { border-bottom: none;}

footer {
  position: absolute;
  bottom: 0;
}

footer img {
  transform: scale(0.50, 0.50);
  -ms-transform: scale(0.50, 0.50);
  -webkit-transform: scale(0.50, 0.50);
}

