<div class='activity row'>
  <li class='item'>
    <div class='columns large-3 time start_time'><%= activity.start_time %></div>
    <div class='columns large-3 time end_time'><%= activity.end_time %></div>
    <div class='columns large-6 name'><%= activity.name %></div>
  </li>
</div>
