<div class='activity row'>
  <%= form_for [@schedule, activity] do |f| %>
      <div class='columns large-3 time start_time'>
        <%= f.time_field :start_time, step: 900 %>
      </div>
      <div class='columns large-3 time end_time'>
        <%= f.time_field :end_time, step: 900 %>
      </div>
      <div class='columns large-5 name'>
        <%= f.text_field :name, placeholder: 'Activity Title' %>
      </div>
      <div class='columns large-1 submit'>
        <button type="button" class="xsm btn-labeled radius"><span class="btn-label"><i class="icon-ok"></i></span>Add</button>
      </div>
  <% end %>
</div>
