<!DOCTYPE html>
<html>
<head>
  <title>DBC Daily Scheduler</title>
  <meta charset="utf-8" />
  <%= render 'shared/includes' %>
</head>
<body>
  <div class='row content'>
    <div class='small-12 columns text-center center'>
      <%= yield %>
    </div>
  </div>

  <footer class='footer'>
    <div class='row'>
      <div class='small-7 columns left'>
        <%= link_to schedules_path do %>
        <%= image_tag 'dbc-logo-horizontal.png', alt: 'DevBootcamp Logo' %>
        <% end %>
      </div>
    </div>
  </footer>

  <script type="text/javascript">
    $(document).foundation();
  </script>
</body>

</html>
